<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARC的机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NSSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>不可变字典.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>可变字典.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>可变数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>集合内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>集合操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>集合转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4AC7EE61A57F12400488180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AC7EF71A581DD000488180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AC7F021A581DD000488180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D3F9CC1A55B67300DEABE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D3F9D71A55BB7F00DEABE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D3F9E21A55BD7800DEABE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4FABD7F1A56303300E84462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4FABD8D1A56346B00E84462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
